Flow 3.json
{
  "name": "Flow 3",
  "nodes": [
    {
      "parameters": {
        "content": "### LUỒNG 3: AI DOCUMENT MANAGEMENT AGENT – GDPR COMPLIANCE (Fixed Clean)\n\n**Mục đích:** Tự động kiểm tra tuân thủ GDPR cho tài liệu.\n\n**Tính năng chính:**\n• AI quyết định hành động GDPR (delete/anonymize/allow)\n• Xác định legal basis, DSR, retention\n• Tự động thông báo DPO khi cần\n• Ghi log và audit trail đầy đủ.\n\n**Cải tiến:**\n• Sửa lỗi phân nhánh If/Else chuẩn.\n• Thêm Merge node để hợp nhất các nhánh hành động."
      },
      "name": "📋 Mô tả Luồng GDPR",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "437a651e-0ae6-47e3-b0cb-e9c224ab768f"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gdpr-compliance",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "name": "1️⃣ Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        160,
        176
      ],
      "id": "f46c0874-4672-4cb1-906a-e13a11422c6b",
      "webhookId": "gdpr-compliance-webhook"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "19dKOR2bA5dHGHCtfZ416c5qVou0lcDwF",
          "mode": "list",
          "cachedResultName": "Extract PDF",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19dKOR2bA5dHGHCtfZ416c5qVou0lcDwF"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        160,
        400
      ],
      "id": "google-drive-trigger-flow3",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "j8THGAxv73mfiAPY",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 🧩 Chuẩn hóa dữ liệu đầu vào cho kiểm tra GDPR\nconst input = $json ?? {};\nconst body = input.body ?? {};\n\n// 🔍 Thử lấy email của chủ sở hữu từ output Google Drive Trigger\nlet ownerEmail = null;\ntry {\n  ownerEmail =\n    input.owners?.[0]?.emailAddress ||\n    body.owners?.[0]?.emailAddress ||\n    input.lastModifyingUser?.emailAddress ||\n    null;\n} catch (e) {\n  ownerEmail = null;\n}\n\n// 🔗 Tạo URL file từ Google Drive thông tin\nlet fileUrl = null;\nlet fileId = null;\nlet fileName = null;\nlet fileSize = null;\nlet mimeType = null;\n\ntry {\n  // Lấy thông tin file từ Google Drive Trigger\n  fileId = input.id || body.id || null;\n  fileName = input.name || body.name || null;\n  fileSize = input.size || body.size || null;\n  mimeType = input.mimeType || body.mimeType || null;\n  \n  // Tạo URL Google Drive\n  if (fileId) {\n    fileUrl = `https://drive.google.com/file/d/${fileId}/view`;\n  }\n} catch (e) {\n  console.warn('⚠️ Lỗi khi xử lý thông tin Google Drive:', e.message);\n}\n\n// 🧱 Dữ liệu mẫu (fallback khi thiếu input)\nconst defaultData = {\n  documentTitle: fileName || 'Tài liệu mẫu - GDPR Check',\n  documentCategory: 'Nhân sự',\n  documentSummary: 'Tài liệu chứa dữ liệu cá nhân cần kiểm tra GDPR',\n  originalFileId: fileId || 'sample_file_gdpr',\n  fileSize: fileSize || '1.0MB',\n  uploadDate: new Date().toISOString(),\n  uploader: ownerEmail || 'privacy@company.com', // ✅ dùng email owner nếu có\n  hasPersonalInfo: true,\n  containsSpecialCategoryData: false,\n  dataSubjectRequest: null,\n  legalBasis: null\n};\n\n// 🧠 Gộp dữ liệu: Ưu tiên input → body → mặc định\nconst merged = {\n  documentTitle: input.documentTitle || body.documentTitle || defaultData.documentTitle,\n  documentCategory: input.documentCategory || body.documentCategory || defaultData.documentCategory,\n  documentSummary: input.documentSummary || body.documentSummary || defaultData.documentSummary,\n  originalFileId: input.originalFileId || body.originalFileId || defaultData.originalFileId,\n  fileSize: input.fileSize || body.fileSize || defaultData.fileSize,\n  uploadDate: input.uploadDate || body.uploadDate || defaultData.uploadDate,\n  uploader: input.uploader || body.uploader || defaultData.uploader, // 👈 dùng uploader động\n  hasPersonalInfo: input.hasPersonalInfo ?? body.hasPersonalInfo ?? defaultData.hasPersonalInfo,\n  containsSpecialCategoryData: input.containsSpecialCategoryData ?? body.containsSpecialCategoryData ?? defaultData.containsSpecialCategoryData,\n  dataSubjectRequest: input.dataSubjectRequest ?? body.dataSubjectRequest ?? defaultData.dataSubjectRequest,\n  legalBasis: input.legalBasis ?? body.legalBasis ?? defaultData.legalBasis\n};\n\n// 🧾 Thêm metadata hệ thống và thông tin file\nconst result = {\n  receivedAt: new Date().toISOString(),\n  workflowSource: 'gdpr-compliance',\n  processingTimestamp: new Date().toISOString(),\n  // 🔗 Thông tin file từ Google Drive\n  fileUrl: fileUrl,\n  fileId: fileId,\n  fileName: fileName,\n  mimeType: mimeType,\n  // 📊 Thông tin Google Drive gốc\n  googleDriveInfo: {\n    id: fileId,\n    name: fileName,\n    size: fileSize,\n    mimeType: mimeType,\n    url: fileUrl,\n    owners: input.owners || body.owners || null,\n    lastModifyingUser: input.lastModifyingUser || body.lastModifyingUser || null\n  },\n  ...merged\n};\n\n// 🧹 Dọn undefined/null\nfor (const key in result) {\n  if (result[key] === undefined) result[key] = null;\n  if (typeof result[key] === 'string') result[key] = result[key].trim();\n}\n\n// ✅ Trả ra JSON hoàn chỉnh\nreturn [{ json: result }];\n"
      },
      "name": "2️⃣ Chuẩn hóa dữ liệu đầu vào",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        352
      ],
      "id": "6d753a6b-e97c-47d0-942f-a166f60932bd"
    },
    {
      "parameters": {
        "resource": "document",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "=Phân tích GDPR. Quyết định: delete|anonymize|allow.\n\n{\n  \"content\": {\n    \"gdprDecision\": \"delete|anonymize|allow\",\n    \"notifyDPO\": true,\n    \"legalBasis\": \"consent|contract|null\",\n    \"retentionDays\": 30,\n    \"redactionFields\": [],\n    \"gdprJustification\": \"Lý do\",\n    \"fileUrl\": \"{{ $json.fileUrl }}\",\n    \"fileName\": \"{{ $json.fileName }}\",\n    \"personalDataFound\": [],\n    \"sensitiveDataDetected\": false,\n    \"dataVolume\": \"high|medium|low\"\n  },\n  \"finishReason\": \"stop\",\n  \"index\": 0,\n  \"uploader\": {{ $json.uploader }}\n}",
        "documentUrls": "",
        "options": {}
      },
      "name": "3️⃣ AI GDPR Decision",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        608,
        352
      ],
      "id": "7491a102-e21e-439a-86ea-09b86cbbac95",
      "credentials": {
        "googlePalmApi": {
          "id": "jUZSFnAVnDJMK2R4",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 🧠 Parse kết quả AI GDPR (Node 4) - FIXED VERSION\nlet ai = {};\nlet raw = '';\nlet clean = '';\nlet match = null;\n\ntry {\n  // 🔍 Lấy text từ phản hồi của Gemini\n  raw = $json?.content?.parts?.[0]?.text || $json?.text || JSON.stringify($json);\n\n  // 🧹 Làm sạch ký hiệu code block\n  clean = raw.replace(/```json/gi, '').replace(/```/g, '').trim();\n\n  // 🔎 Tìm đoạn JSON trong text\n  match = clean.match(/\\{[\\s\\S]*\\}/);\n\n  // 🧾 Parse JSON\n  ai = JSON.parse(match ? match[0] : clean);\n  console.log(\"✅ Parsed AI JSON:\", ai);\n} catch (error) {\n  console.warn(\"⚠️ Parse error:\", error.message);\n  console.log(\"📝 Raw preview:\", raw?.slice(0, 300));\n\n  // 🛟 Fallback an toàn\n  ai = {\n    content: {\n      gdprDecision: \"anonymize\",\n      notifyDPO: true,\n      gdprJustification: \"⚠️ Parsing fallback due to invalid AI output\"\n    },\n    uploader: \"dangnguyen0175@gmail.com\"\n  };\n}\n\n// 🧩 Hợp nhất dữ liệu đầu vào + kết quả AI\nconst result = {\n  ...$input.first().json,\n  aiRawOutput: raw || null,\n\n  // 🧠 Lấy dữ liệu từ cấu trúc lồng nhau (ai.content.*)\n  gdprDecision: ai.content?.gdprDecision || ai.gdprDecision || ai.action || \"anonymize\",\n  notifyDPO: !!(ai.content?.notifyDPO ?? ai.notifyDPO),\n  gdprJustification: ai.content?.gdprJustification || ai.gdprJustification || ai.justification || \"N/A\",\n  legalBasis: ai.content?.legalBasis || ai.legalBasis || null,\n  dataSubjectRequest: ai.content?.dataSubjectRequest || ai.dataSubjectRequest || null,\n  retentionDays: ai.content?.retentionDays || ai.retentionDays || 30,\n  redactionFields: ai.content?.redactionFields || ai.redactionFields || [],\n  aiDecisionTimestamp: ai.aiDecisionTimestamp || new Date().toISOString(),\n  uploader: ai.uploader || $input.first().json.uploader || \"dangnguyen0175@gmail.com\",\n  // 🔗 Thông tin file từ AI (nếu có)\n  fileUrl: ai.content?.fileUrl || $input.first().json.fileUrl || null,\n  fileName: ai.content?.fileName || $input.first().json.fileName || null,\n  // 🔍 Thông tin phân tích nội dung file\n  personalDataFound: ai.content?.personalDataFound || ai.personalDataFound || [],\n  sensitiveDataDetected: ai.content?.sensitiveDataDetected ?? ai.sensitiveDataDetected ?? false,\n  dataVolume: ai.content?.dataVolume || ai.dataVolume || 'unknown',\n  // 🧾 Log thêm thông tin trạng thái parser\n  aiParseStatus: match ? \"success\" : \"fallback\",\n  aiParsed: ai\n};\n\n// 🧾 Log kết quả cuối cùng để kiểm tra\nconsole.log(\"📜 GDPR Parsed Result:\", result);\n\nreturn [{ json: result }];\n"
      },
      "name": "4️⃣ Parse quyết định GDPR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        352
      ],
      "id": "602f7e24-c254-4094-b6b8-902615e47ec6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.gdprDecision }}",
              "rightValue": "delete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "5️⃣ Hành động: Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        992,
        224
      ],
      "id": "74ab1ef4-7ebc-4674-986d-6223bbc8d44f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.gdprDecision }}",
              "rightValue": "anonymize",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "6️⃣ Hành động: Anonymize?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        992,
        384
      ],
      "id": "77006323-4f96-47e4-8576-b3f8838d5bc6"
    },
    {
      "parameters": {
        "jsCode": "// ===============================================\n// 🧹 GDPR ACTION: DELETE / REVOKE DOCUMENT ACCESS\n// ===============================================\n\n// Lấy dữ liệu đầu vào\nconst data = $json;\nconst fileId = data.originalFileId || null;\n\n// Biến kết quả mặc định\nlet result = {\n  ...data,\n  gdprActionPerformed: 'delete',\n  status: 'GDPR_REVOKE_APPLIED',\n  deleteSuccess: false,\n  deleteMethod: null,\n  deleteTimestamp: new Date().toISOString(),\n  deleteLog: ''\n};\n\n// Nếu có ID file gốc thì tiến hành “xóa” (hoặc thu hồi chia sẻ)\ntry {\n  if (fileId) {\n    // --- Nếu bạn dùng Google Drive API ---\n    // Giả lập hành động gọi API n8n khác (ở môi trường thực, sẽ dùng node Google Drive Delete)\n    result.deleteMethod = 'revoke_access';\n    result.deleteSuccess = true;\n    result.deleteLog = `Tài liệu ${fileId} đã được thu hồi quyền truy cập.`;\n  } else {\n    result.deleteLog = 'Không tìm thấy originalFileId để xóa.';\n  }\n} catch (err) {\n  result.status = 'GDPR_DELETE_FAILED';\n  result.deleteSuccess = false;\n  result.deleteLog = `Lỗi khi xóa: ${err.message}`;\n}\n\n// Trả về kết quả xử lý\nreturn [{ json: result }];\n"
      },
      "name": "7️⃣ Thực thi Delete/Revoke",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        144
      ],
      "id": "70421f46-f1bf-4fab-bd14-783a20cba7ca"
    },
    {
      "parameters": {
        "jsCode": "// Giả lập ẩn danh/redact\nlet summary = $json.documentSummary || '';\nfor (const f of ($json.redactionFields || [])) summary = summary.replace(new RegExp(f, 'gi'), '[REDACTED]');\nreturn { json: { ...$json, documentSummary: summary, gdprActionPerformed: 'anonymize', status: 'GDPR_ANON_APPLIED' } };"
      },
      "name": "7️⃣ Thực thi Anonymize/Redact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        384
      ],
      "id": "6b91f0af-82ef-44d1-8ad6-f2aa091c090b"
    },
    {
      "parameters": {
        "jsCode": "return { json: { ...$json, gdprActionPerformed: 'allow', status: 'GDPR_ALLOWED' } };"
      },
      "name": "7️⃣.5️⃣ Đặt trạng thái Allow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        560
      ],
      "id": "ac8a0a80-5c83-4349-aaa9-a417e45a6de9"
    },
    {
      "parameters": {},
      "name": "7.8 Merge Actions",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1360,
        160
      ],
      "id": "af133846-0e3a-47cc-adfa-39c4a5fe91ed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.notifyDPO }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "8️⃣ Cần thông báo DPO?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1552,
        352
      ],
      "id": "bde1edc5-c5e1-4cb8-bf98-ca9b88a9ff57"
    },
    {
      "parameters": {
        "sendTo": "dpo@company.com",
        "subject": "=🔐 GDPR Alert: {{ $json.gdprDecision?.toUpperCase() || 'UNKNOWN' }} file requires immediate attention",
        "emailType": "text",
        "message": "=Kính chào DPO,\n\nHệ thống AI GDPR Compliance Agent đã phát hiện một tài liệu vi phạm quy định GDPR và cần sự can thiệp ngay lập tức.\n\n**Thông tin tài liệu:**\n- Tên file: {{ $json.fileName || 'Không xác định' }}\n- URL file: {{ $json.fileUrl || 'Không có URL' }}\n- Uploader: {{ $json.uploader || 'Không xác định' }}\n- Quyết định xử lý: {{ $json.gdprDecision || 'Không xác định' }}\n- Thông báo DPO: {{ $json.notifyDPO || 'Không' }}\n- Cơ sở pháp lý: {{ $json.legalBasis || 'Không có' }}\n\n**🔍 Phân tích nội dung file:**\n- Dữ liệu cá nhân tìm thấy: {{ $json.personalDataFound && $json.personalDataFound.length > 0 ? $json.personalDataFound.join(', ') : 'Không có' }}\n- Dữ liệu nhạy cảm: {{ $json.sensitiveDataDetected ? 'Có' : 'Không' }}\n- Khối lượng dữ liệu: {{ $json.dataVolume || 'Không xác định' }}\n- Các trường cần redact: {{ $json.redactionFields && $json.redactionFields.length > 0 ? $json.redactionFields.join(', ') : 'Không có' }}\n\n**Lý do quyết định:**\n{{ $json.gdprJustification || 'Không có lý do cụ thể được cung cấp.' }}\n\n**Thời điểm ra quyết định:** {{ $json.aiDecisionTimestamp || (new Date()).toISOString() }}\n\n**Hành động khuyến nghị:**\n- Xem xét và xác nhận quyết định của AI\n- Liên hệ với uploader để làm rõ mục đích sử dụng dữ liệu\n- Thực hiện các biện pháp khắc phục cần thiết\n- Cập nhật chính sách bảo mật nếu cần\n\nTrân trọng,\n**AI GDPR Compliance Agent**",
        "options": {}
      },
      "name": "9️⃣ Gửi email DPO",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1744,
        256
      ],
      "id": "8a81289d-ce65-46b0-9a43-7e54d225e376",
      "webhookId": "02bbf782-9357-4ea4-b78e-664aaad97422",
      "credentials": {
        "gmailOAuth2": {
          "id": "JBRXHZYyZ9p1r53u",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.uploader || 'dangnguyen0175@gmail.com' }}",
        "subject": "=📣 GDPR Result: {{ $json.gdprDecision?.toUpperCase() || 'UNKNOWN' }}",
        "emailType": "text",
        "message": "=Kính chào bạn,\n\nHệ thống AI GDPR Compliance Agent đã hoàn tất việc kiểm tra tuân thủ GDPR cho tài liệu của bạn.\n\n**Thông tin tài liệu:**\n- Tên file: {{ $json.fileName || 'Không xác định' }}\n- URL file: {{ $json.fileUrl || 'Không có URL' }}\n\n**🔍 Kết quả phân tích nội dung:**\n- Dữ liệu cá nhân tìm thấy: {{ $json.personalDataFound && $json.personalDataFound.length > 0 ? $json.personalDataFound.join(', ') : 'Không có' }}\n- Dữ liệu nhạy cảm: {{ $json.sensitiveDataDetected ? 'Có' : 'Không' }}\n- Khối lượng dữ liệu: {{ $json.dataVolume || 'Không xác định' }}\n\n**Kết quả quyết định:**\n- Quyết định xử lý: {{ $json.gdprDecision || 'Không xác định' }}\n- Thông báo DPO: {{ $json.notifyDPO || 'Không' }}\n- Cơ sở pháp lý: {{ $json.legalBasis || 'Không có' }}\n- Các trường cần redact: {{ $json.redactionFields && $json.redactionFields.length > 0 ? $json.redactionFields.join(', ') : 'Không có' }}\n\n**Lý do quyết định:**\n{{ $json.gdprJustification || 'Không có lý do được cung cấp.' }}\n\n**Thời điểm ra quyết định:** {{ $json.aiDecisionTimestamp || (new Date()).toISOString() }}\n\nNếu bạn có bất kỳ thắc mắc nào về kết quả này, vui lòng liên hệ với bộ phận bảo mật dữ liệu (DPO) để được hỗ trợ.\n\nTrân trọng,\n**AI GDPR Compliance Agent**",
        "options": {}
      },
      "name": "1️⃣0️⃣ Thông báo kết quả cho uploader",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1936,
        352
      ],
      "id": "87b981a9-628c-486f-a40c-8b691e212bb3",
      "webhookId": "62b2fab2-9f29-4f76-9c77-89e5acbbdf61",
      "credentials": {
        "gmailOAuth2": {
          "id": "JBRXHZYyZ9p1r53u",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1AlnBdd389X4a9cgfvpH3RB-S0SQx_fnEHLLWfwrMtv8",
          "mode": "list",
          "cachedResultName": "Log GDPR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AlnBdd389X4a9cgfvpH3RB-S0SQx_fnEHLLWfwrMtv8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1AlnBdd389X4a9cgfvpH3RB-S0SQx_fnEHLLWfwrMtv8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "1️⃣1️⃣ Ghi log GDPR vào Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2128,
        352
      ],
      "id": "f7767e86-54b6-48ee-8cc4-850b95b0239e",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "wiCAtkSwksUQtdMn",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Audit Trail GDPR\nreturn { json: { auditId: `gdpr_${Date.now()}`, timestamp: new Date().toISOString(), ...$json } };"
      },
      "name": "1️⃣2️⃣ Tạo Audit Trail GDPR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        352
      ],
      "id": "acdb5bc6-c940-4c76-bb7e-a5dea11c6eb6"
    },
    {
      "parameters": {
        "jsCode": "// 🔍 DEBUG: Kiểm tra dữ liệu trước khi gửi email\nconsole.log('🔍 DEBUG - Dữ liệu trước email:');\nconsole.log('gdprDecision:', $json.gdprDecision);\nconsole.log('notifyDPO:', $json.notifyDPO);\nconsole.log('uploader:', $json.uploader);\nconsole.log('Full data:', JSON.stringify($json, null, 2));\n\n// 🧹 Đảm bảo có dữ liệu cần thiết\nconst result = {\n  ...$json,\n  // Đảm bảo có gdprDecision\n  gdprDecision: $json.gdprDecision || 'UNKNOWN',\n  // Đảm bảo có notifyDPO\n  notifyDPO: $json.notifyDPO || false,\n  // Đảm bảo có uploader\n  uploader: $json.uploader || 'dangnguyen0175@gmail.com',\n  // Đảm bảo có justification\n  gdprJustification: $json.gdprJustification || 'Không có lý do được cung cấp.',\n  // Thêm timestamp\n  aiDecisionTimestamp: $json.aiDecisionTimestamp || new Date().toISOString()\n};\n\nconsole.log('✅ DEBUG - Dữ liệu sau xử lý:', result);\nreturn [{ json: result }];"
      },
      "name": "🔍 DEBUG: Kiểm tra dữ liệu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        464
      ],
      "id": "1c83a5dd-6b4e-41dd-88b9-c262703098fd"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "19dKOR2bA5dHGHCtfZ416c5qVou0lcDwF",
          "mode": "list",
          "cachedResultName": "Extract PDF",
          "cachedResultUrl": "https://drive.google.com/drive/folders/19dKOR2bA5dHGHCtfZ416c5qVou0lcDwF"
        },
        "event": "folderCreated"
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        176,
        400
      ],
      "id": "c4d060ce-47dd-457f-aa3d-ee0f66f8e970",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "j8THGAxv73mfiAPY",
          "name": "Google Drive account 4"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "https://api.aidocmanageagent.io.vn/webhook/flow3-result",
        "options": {
          "responseMode": "responseNode"
        }
      },
      "id": "send-result-api-flow3",
      "name": "🔚 Send Result to API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        2500,
        352
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "1️⃣ Webhook Trigger": {
      "main": [
        [
          {
            "node": "2️⃣ Chuẩn hóa dữ liệu đầu vào",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "2️⃣ Chuẩn hóa dữ liệu đầu vào",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2️⃣ Chuẩn hóa dữ liệu đầu vào": {
      "main": [
        [
          {
            "node": "3️⃣ AI GDPR Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3️⃣ AI GDPR Decision": {
      "main": [
        [
          {
            "node": "4️⃣ Parse quyết định GDPR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4️⃣ Parse quyết định GDPR": {
      "main": [
        [
          {
            "node": "5️⃣ Hành động: Delete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5️⃣ Hành động: Delete?": {
      "main": [
        [
          {
            "node": "7️⃣ Thực thi Delete/Revoke",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "6️⃣ Hành động: Anonymize?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6️⃣ Hành động: Anonymize?": {
      "main": [
        [
          {
            "node": "7️⃣ Thực thi Anonymize/Redact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "7️⃣.5️⃣ Đặt trạng thái Allow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7️⃣ Thực thi Delete/Revoke": {
      "main": [
        [
          {
            "node": "7.8 Merge Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7️⃣ Thực thi Anonymize/Redact": {
      "main": [
        [
          {
            "node": "7.8 Merge Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7️⃣.5️⃣ Đặt trạng thái Allow": {
      "main": [
        [
          {
            "node": "7.8 Merge Actions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7.8 Merge Actions": {
      "main": [
        [
          {
            "node": "8️⃣ Cần thông báo DPO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8️⃣ Cần thông báo DPO?": {
      "main": [
        [
          {
            "node": "9️⃣ Gửi email DPO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔍 DEBUG: Kiểm tra dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9️⃣ Gửi email DPO": {
      "main": [
        [
          {
            "node": "🔍 DEBUG: Kiểm tra dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 DEBUG: Kiểm tra dữ liệu": {
      "main": [
        [
          {
            "node": "1️⃣0️⃣ Thông báo kết quả cho uploader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1️⃣0️⃣ Thông báo kết quả cho uploader": {
      "main": [
        [
          {
            "node": "1️⃣1️⃣ Ghi log GDPR vào Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1️⃣1️⃣ Ghi log GDPR vào Sheets": {
      "main": [
        [
          {
            "node": "1️⃣2️⃣ Tạo Audit Trail GDPR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1️⃣2️⃣ Tạo Audit Trail GDPR": {
      "main": [
        [
          {
            "node": "🔚 Send Result to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "2️⃣ Chuẩn hóa dữ liệu đầu vào",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "36c87351-47f4-4344-8e14-7030ccfa52cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d29aff038a4897a8be0d9843c07ba06d6b485556105b19c20835a7b0bfd5b9b2"
  },
  "id": "2emfhdhTSNxiGuIt",
  "tags": []
}