workflows/Flow 3.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// 📥 XỬ LÝ DỮ LIỆU TỪ FLOW 2 + FRONTEND\nconsole.log('=== FLOW 3 - XỬ LÝ DỮ LIỆU ĐẦU VÀO ===');\nconsole.log('Raw input data:', JSON.stringify($json, null, 2));\n\nconst input = $json || {};\nconst body = input.body || {};\n\n// ============================================\n// Parse dữ liệu từ Flow 2 (GDPR Compliance)\n// ============================================\nconst processingId = input.processing_id || input.processingId || body.processing_id || body.processingId || null;\nconst fileName = input.file_name || input.fileName || body.file_name || body.fileName || null;\nconst fileUrl = input.file_url || input.fileUrl || body.file_url || body.fileUrl || null;\nconst cloudinaryUrl = input.cloudinary_url || input.cloudinaryUrl || body.cloudinary_url || body.cloudinaryUrl || null;\nconst userId = input.user_id || input.userId || body.user_id || body.userId || null;\nconst department = input.department || body.department || null;\n\n// Dữ liệu GDPR từ Flow 2\nconst gdprDecision = input.gdpr_decision || input.gdprDecision || body.gdpr_decision || body.gdprDecision || null;\nconst legalBasis = input.legal_basis || input.legalBasis || body.legal_basis || body.legalBasis || null;\nconst retentionDays = input.retention_days || input.retentionDays || body.retention_days || body.retentionDays || 30;\nconst gdprJustification = input.gdpr_justification || input.gdprJustification || body.gdpr_justification || body.gdprJustification || null;\n\n// ============================================\n// Parse dữ liệu email từ Frontend\n// ============================================\n// Frontend sẽ gửi recipient_emails hoặc recipientEmails\nlet recipientEmails = [];\nif (input.recipient_emails) {\n  recipientEmails = Array.isArray(input.recipient_emails) ? input.recipient_emails : String(input.recipient_emails).split(',').map(e => e.trim());\n} else if (input.recipientEmails) {\n  recipientEmails = Array.isArray(input.recipientEmails) ? input.recipientEmails : String(input.recipientEmails).split(',').map(e => e.trim());\n} else if (body.recipient_emails) {\n  recipientEmails = Array.isArray(body.recipient_emails) ? body.recipient_emails : String(body.recipient_emails).split(',').map(e => e.trim());\n} else if (body.recipientEmails) {\n  recipientEmails = Array.isArray(body.recipientEmails) ? body.recipientEmails : String(body.recipientEmails).split(',').map(e => e.trim());\n}\n\n// Validate emails\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nrecipientEmails = recipientEmails.filter(email => email && emailRegex.test(email.trim())).map(e => e.trim());\n\n// Recipient names (optional)\nlet recipientNames = [];\nif (input.recipient_names) {\n  recipientNames = Array.isArray(input.recipient_names) ? input.recipient_names : String(input.recipient_names).split(',').map(n => n.trim());\n} else if (input.recipientNames) {\n  recipientNames = Array.isArray(input.recipientNames) ? input.recipientNames : String(input.recipientNames).split(',').map(n => n.trim());\n}\n\n// Sharing method từ frontend\nconst sharingMethod = input.sharing_method || input.sharingMethod || body.sharing_method || body.sharingMethod || 'email';\nconst accessLevel = input.access_level || input.accessLevel || body.access_level || body.accessLevel || 'viewer';\n\n// Validate dữ liệu\nif (!processingId) {\n  console.error('❌ CRITICAL: No processing_id found');\n  return [{ json: { error: true, message: 'Missing processing_id', input } }];\n}\n\nif (recipientEmails.length === 0) {\n  console.error('❌ CRITICAL: No recipient emails provided');\n  return [{ json: { error: true, message: 'Missing recipient_emails', input } }];\n}\n\n// Tạo dữ liệu hoàn chỉnh\nconst processedData = {\n  // Thông tin cơ bản\n  processing_id: processingId,\n  sharing_id: `share_${processingId}_${Date.now()}`,\n  file_name: fileName || 'Unknown',\n  file_url: fileUrl || null,\n  cloudinary_url: cloudinaryUrl || fileUrl || null,\n  docx_url: input.docx_url || input.docxUrl || body.docx_url || body.docxUrl || null,\n  user_id: userId || null,\n  department: department || null,\n  \n  // Thông tin chia sẻ từ frontend\n  recipient_emails: recipientEmails,\n  recipient_names: recipientNames.length > 0 ? recipientNames : recipientEmails.map(() => ''),\n  sharing_method: sharingMethod,\n  access_level: accessLevel,\n  \n  // Thông tin GDPR từ Flow 2\n  gdpr_decision: gdprDecision,\n  gdpr_approved: true, // Frontend đã approve\n  legal_basis: legalBasis,\n  retention_days: retentionDays,\n  \n  // Status\n  status: 'pending',\n  sharing_status: 'queued',\n  \n  // Email tracking\n  email_sent: false,\n  email_sent_at: null,\n  email_subject: null,\n  email_body: null,\n  \n  // Timestamps\n  created_at: new Date().toISOString(),\n  updated_at: new Date().toISOString(),\n  sharing_requested_at: new Date().toISOString(),\n  sharing_completed_at: null,\n  \n  // Metadata\n  workflow_source: 'flow3-document-sharing',\n  flow3_completed: false,\n  notes: null,\n  \n  // Dữ liệu bổ sung cho workflow (compatibility)\n  documentTitle: fileName || 'Tài liệu',\n  documentCategory: department || 'Chung',\n  shareWithEmails: recipientEmails, // Alias cho compatibility\n  sharingReason: `Chia sẻ tài liệu ${fileName || 'này'} sau khi đã kiểm tra GDPR`,\n  needApproval: false, // Không cần phê duyệt vì frontend đã approve\n  securityLevel: gdprDecision === 'delete' ? 'high' : (gdprDecision === 'anonymize' ? 'medium' : 'low'),\n  hasPersonalInfo: gdprDecision !== 'allow',\n  accessLevel: accessLevel, // Alias\n  expirationDays: retentionDays,\n  webViewLink: fileUrl || cloudinaryUrl || null,\n  originalFileId: processingId,\n  fileId: processingId\n};\n\nconsole.log('✅ Đã xử lý dữ liệu:');\nconsole.log('   Processing ID:', processedData.processing_id);\nconsole.log('   File Name:', processedData.file_name);\nconsole.log('   Recipient Emails:', processedData.recipient_emails);\nconsole.log('   GDPR Decision:', processedData.gdpr_decision);\nconsole.log('   Sharing Method:', processedData.sharing_method);\nconsole.log('=== END FLOW 3 - XỬ LÝ DỮ LIỆU ĐẦU VÀO ===');\n\nreturn [{ json: processedData }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        144
      ],
      "id": "56a8ff91-cd03-42aa-9521-c26ab3904762",
      "name": "2️⃣ Xử lý dữ liệu từ Flow 2 + Frontend"
    },
    {
      "parameters": {
        "sendTo": "={{ ($json.recipient_emails && $json.recipient_emails.length > 0) ? $json.recipient_emails.join(',') : ($json.shareWithEmails && $json.shareWithEmails.length > 0 ? $json.shareWithEmails.join(',') : 'test@example.com') }}",
        "subject": "={{ `📄 Tài liệu được chia sẻ: ${$json.documentTitle || 'Tài liệu'}` }}",
        "emailType": "text",
        "message": "={{ `**TÀI LIỆU ĐÃ ĐƯỢC CHIA SẺ VỚI BẠN**\n\n📄 **Tiêu đề:** ${$json.documentTitle || 'Tài liệu'}\n📂 **Loại:** ${$json.documentCategory || 'Chung'}\n👥 **Chia sẻ bởi:** Document Management Agent\n🔐 **Quyền truy cập:** ${$json.accessLevel || 'reader'}\n⏰ **Hết hạn:** ${new Date($json.expirationDate || Date.now() + 30*24*60*60*1000).toLocaleDateString('vi-VN')}\n\n**Tóm tắt nội dung:**\n${$json.documentSummary || `Tài liệu ${$json.documentTitle || 'này'} được tạo mới từ Google Drive và chứa thông tin quan trọng liên quan đến ${$json.documentCategory || 'dự án'}. Tài liệu này được chia sẻ để đảm bảo tất cả thành viên trong team có thể truy cập và tham khảo khi cần thiết.`}\n\n**Lý do chia sẻ:**\n${$json.sharingReason || `Chia sẻ tài liệu ${$json.documentTitle || 'này'} với tất cả thành viên trong team để:\n• Đảm bảo thông tin được cập nhật đồng bộ\n• Tạo điều kiện cho việc cộng tác hiệu quả\n• Duy trì tính minh bạch trong quá trình làm việc\n• Hỗ trợ việc ra quyết định dựa trên dữ liệu chính xác`}\n\n🔗 **Link truy cập:**\n${$json.webViewLink || 'Không có link'}\n\n${$json.permissionStatus === 'SUCCESS' ? '✅ **Quyền truy cập đã được cấp tự động**\\nBạn có thể truy cập tài liệu ngay bây giờ!' : '⚠️ **Có lỗi trong quá trình cấp quyền**\\nVui lòng liên hệ admin để được hỗ trợ.'}\n\n📊 **Thống kê:**\n- Số người được chia sẻ: ${$json.sharedWithCount || 0}\n- Trạng thái: ${$json.permissionStatus || 'UNKNOWN'}\n- Thời gian cấp quyền: ${$json.permissionsGrantedAt ? new Date($json.permissionsGrantedAt).toLocaleString('vi-VN') : 'N/A'}\n\n---\n*Tự động bởi Document Management Agent v2*` }}",
        "options": {}
      },
      "id": "fc430108-c572-4d71-a229-abec5a3cf08f",
      "name": "8️⃣ Gửi thông báo chia sẻ",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2000,
        416
      ],
      "webhookId": "dbe6151e-6197-4992-ab65-2065968cbcb5",
      "credentials": {
        "gmailOAuth2": {
          "id": "LTZtTwz14XXGyrdz",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 🔧 Format dữ liệu cho PostgreSQL INSERT\n// Lấy dữ liệu từ node trước\nconst data = $json;\n\n// Helper function để escape SQL strings\nfunction escapeSQL(str) {\n  if (!str) return null;\n  return String(str).replace(/'/g, \"''\").replace(/\\\\/g, '\\\\\\\\');\n}\n\n// Helper function để format PostgreSQL array\nfunction formatPostgresArray(arr) {\n  if (!Array.isArray(arr) || arr.length === 0) return 'ARRAY[]::TEXT[]';\n  const escaped = arr.map(item => `'${escapeSQL(String(item))}'`).join(', ');\n  return `ARRAY[${escaped}]`;\n}\n\n// Helper function để format timestamp - xử lý empty string và null\nfunction formatTimestamp(value) {\n  if (!value || value === '' || value === null || value === undefined) {\n    return 'CURRENT_TIMESTAMP';\n  }\n  // Nếu là ISO string hợp lệ, format thành timestamp\n  try {\n    const date = new Date(value);\n    if (isNaN(date.getTime())) {\n      return 'CURRENT_TIMESTAMP';\n    }\n    return `'${date.toISOString()}'::timestamp`;\n  } catch (e) {\n    return 'CURRENT_TIMESTAMP';\n  }\n}\n\n// Format các giá trị\nconst result = {\n  ...data,\n  // Format arrays cho PostgreSQL\n  recipient_emails_sql: formatPostgresArray(data.recipient_emails || data.shareWithEmails || []),\n  recipient_names_sql: formatPostgresArray(data.recipient_names || []),\n  // Format text fields (escape quotes)\n  email_subject_sql: data.email_subject || data.emailSubject ? `'${escapeSQL(data.email_subject || data.emailSubject)}'` : 'NULL',\n  email_body_sql: data.email_body || data.emailBody ? `'${escapeSQL(data.email_body || data.emailBody)}'` : 'NULL',\n  share_link_sql: data.share_link || data.shareLink ? `'${escapeSQL(data.share_link || data.shareLink)}'` : 'NULL',\n  notes_sql: data.notes ? `'${escapeSQL(data.notes)}'` : 'NULL',\n  // Format timestamps - xử lý empty string\n  created_at_sql: formatTimestamp(data.created_at),\n  updated_at_sql: formatTimestamp(data.updated_at),\n  sharing_requested_at_sql: data.sharing_requested_at && data.sharing_requested_at !== '' ? formatTimestamp(data.sharing_requested_at) : 'NULL',\n  sharing_completed_at_sql: data.sharing_completed_at && data.sharing_completed_at !== '' ? formatTimestamp(data.sharing_completed_at) : 'NULL',\n  email_sent_at_sql: data.email_sent_at && data.email_sent_at !== '' ? formatTimestamp(data.email_sent_at) : 'NULL'\n};\n\nconsole.log('✅ Đã format dữ liệu cho PostgreSQL INSERT');\nconsole.log('   created_at_sql:', result.created_at_sql);\nconsole.log('   updated_at_sql:', result.updated_at_sql);\n\nreturn [{ json: result }];"
      },
      "name": "9️⃣.5️⃣ Format Data cho PostgreSQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        416
      ],
      "id": "format-data-for-postgres-flow3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO document_sharing (\n  processing_id, sharing_id, file_name, file_url, cloudinary_url, docx_url, user_id, department,\n  recipient_emails, recipient_names, sharing_method, share_link, access_level,\n  gdpr_decision, gdpr_approved, legal_basis, retention_days,\n  status, sharing_status, email_sent, email_sent_at, email_subject, email_body,\n  created_at, updated_at, sharing_requested_at, sharing_completed_at,\n  workflow_source, flow3_completed, notes\n) VALUES (\n  '{{ $json.processing_id }}',\n  '{{ $json.sharing_id }}',\n  {{ $json.file_name ? `'${$json.file_name}'` : 'NULL' }},\n  {{ $json.file_url ? `'${$json.file_url}'` : 'NULL' }},\n  {{ $json.cloudinary_url ? `'${$json.cloudinary_url}'` : 'NULL' }},\n  {{ $json.docx_url ? `'${$json.docx_url}'` : 'NULL' }},\n  {{ $json.user_id ? `'${$json.user_id}'` : 'NULL' }},\n  {{ $json.department ? `'${$json.department}'` : 'NULL' }},\n  {{ $json.recipient_emails_sql }},\n  {{ $json.recipient_names_sql }},\n  '{{ $json.sharing_method || 'email' }}',\n  {{ $json.share_link_sql }},\n  '{{ $json.access_level || 'viewer' }}',\n  {{ $json.gdpr_decision ? `'${$json.gdpr_decision}'` : 'NULL' }},\n  {{ $json.gdpr_approved !== undefined ? $json.gdpr_approved : true }},\n  {{ $json.legal_basis ? `'${$json.legal_basis}'` : 'NULL' }},\n  {{ $json.retention_days || 30 }},\n  '{{ $json.status || 'sent' }}',\n  {{ $json.sharing_status ? `'${$json.sharing_status}'` : 'NULL' }},\n  {{ $json.email_sent !== undefined ? $json.email_sent : true }},\n  {{ ($json.email_sent_at_sql) || ($json.email_sent_at && $json.email_sent_at !== '' ? `'${$json.email_sent_at}'::timestamp` : 'NULL') }},\n  {{ $json.email_subject_sql }},\n  {{ $json.email_body_sql }},\n  {{ ($json.created_at_sql) || ($json.created_at && $json.created_at !== '' ? `'${$json.created_at}'::timestamp` : 'CURRENT_TIMESTAMP') }},\n  {{ ($json.updated_at_sql) || ($json.updated_at && $json.updated_at !== '' ? `'${$json.updated_at}'::timestamp` : 'CURRENT_TIMESTAMP') }},\n  {{ ($json.sharing_requested_at_sql) || ($json.sharing_requested_at && $json.sharing_requested_at !== '' ? `'${$json.sharing_requested_at}'::timestamp` : 'NULL') }},\n  {{ ($json.sharing_completed_at_sql) || ($json.sharing_completed_at && $json.sharing_completed_at !== '' ? `'${$json.sharing_completed_at}'::timestamp` : 'CURRENT_TIMESTAMP') }},\n  '{{ $json.workflow_source || 'flow3-document-sharing' }}',\n  {{ $json.flow3_completed !== undefined ? $json.flow3_completed : true }},\n  {{ $json.notes_sql }}\n) ON CONFLICT (sharing_id) DO UPDATE SET\n  status = EXCLUDED.status,\n  sharing_status = EXCLUDED.sharing_status,\n  email_sent = EXCLUDED.email_sent,\n  email_sent_at = EXCLUDED.email_sent_at,\n  email_subject = EXCLUDED.email_subject,\n  email_body = EXCLUDED.email_body,\n  sharing_completed_at = EXCLUDED.sharing_completed_at,\n  flow3_completed = EXCLUDED.flow3_completed,\n  updated_at = CURRENT_TIMESTAMP\nRETURNING *;",
        "options": {}
      },
      "name": "9️⃣ Lưu kết quả chia sẻ vào PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2384,
        416
      ],
      "id": "58b052b2-994e-4214-869d-69701748e080",
      "credentials": {
        "postgres": {
          "id": "lYVcMJl3c3m62cYc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 📊 Merge dữ liệu từ email response với dữ liệu chia sẻ gốc\nconst emailResponse = $json;\nconst originalData = $input.first().json;\n\nconsole.log('=== 📊 MERGE EMAIL DATA ===');\nconsole.log('Email response:', emailResponse);\nconsole.log('Original data:', originalData);\n\n// Merge tất cả dữ liệu\nconst mergedData = {\n  // Giữ nguyên tất cả dữ liệu từ originalData\n  ...originalData,\n  \n  // Dữ liệu email từ Gmail node\n  emailId: emailResponse.id || null,\n  emailThreadId: emailResponse.threadId || null,\n  emailLabelIds: emailResponse.labelIds || null,\n  emailSentAt: new Date().toISOString(),\n  \n  // Cập nhật status\n  email_sent: true,\n  email_sent_at: new Date().toISOString(),\n  email_subject: originalData.emailSubject || `📄 Tài liệu được chia sẻ: ${originalData.file_name || originalData.documentTitle || 'Tài liệu'}`,\n  email_body: originalData.emailMessage || originalData.email_body || null,\n  status: 'sent',\n  sharing_status: 'completed',\n  sharing_completed_at: new Date().toISOString(),\n  flow3_completed: true,\n  updated_at: new Date().toISOString()\n};\n\nconsole.log('✅ MERGED DATA FOR POSTGRESQL:');\nconsole.log('   Processing ID:', mergedData.processing_id);\nconsole.log('   Sharing ID:', mergedData.sharing_id);\nconsole.log('   Recipient Emails:', mergedData.recipient_emails);\nconsole.log('   Email Sent:', mergedData.email_sent);\nconsole.log('   Status:', mergedData.status);\nconsole.log('=== END 📊 MERGE EMAIL DATA ===');\n\nreturn [{ json: mergedData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        416
      ],
      "id": "9ceb6807-7b42-4885-93a8-29032494892d",
      "name": "📊 Merge Email Data"
    },
    {
      "parameters": {
        "task": "MTM4MTI2ODI0MjMyNDE1Mjc2ODE6MDow",
        "additionalFields": {
          "notes": "=Tai lieu can chia se : {{ $('7️⃣ Tạo link chia sẻ').item.json.documentTitle }}\nLy do chia se: {{ $('7️⃣ Tạo link chia sẻ').item.json.sharingReason }}\nHet han: {{ $('7️⃣ Tạo link chia sẻ').item.json.expirationDays }}\nChia se voi: {{ $('7️⃣ Tạo link chia sẻ').item.json.shareWithEmails.join(\",\") }}\n"
        }
      },
      "id": "9faddc9c-18a9-41f0-b57b-090d11a96faf",
      "name": "1️⃣2️⃣ Tạo task theo dõi",
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        2608,
        416
      ],
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "jzNedQIe832Ek8gs",
          "name": "Google Tasks account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 📋 TẠO LINK CHIA SẺ VÀ CHUẨN BỊ EMAIL\nconsole.log('=== 7️⃣ TẠO LINK CHIA SẺ ===');\nconsole.log('Input data:', JSON.stringify($json, null, 2));\n\nconst inputData = $json || {};\n\n// Lấy dữ liệu từ input (đã được xử lý từ node trước)\nconst processedData = {\n  // Giữ nguyên tất cả dữ liệu từ input\n  ...inputData,\n  \n  // Đảm bảo các trường cần thiết\n  documentTitle: inputData.file_name || inputData.documentTitle || 'Tài liệu',\n  fileName: inputData.file_name || inputData.fileName || 'Tài liệu',\n  fileId: inputData.processing_id || inputData.originalFileId || inputData.fileId,\n  originalFileId: inputData.processing_id || inputData.originalFileId || inputData.fileId,\n  webViewLink: inputData.file_url || inputData.cloudinary_url || inputData.webViewLink || '',\n  documentCategory: inputData.department || inputData.documentCategory || 'Chung',\n  \n  // Email recipients từ frontend\n  shareWithEmails: inputData.recipient_emails || inputData.shareWithEmails || [],\n  recipient_emails: inputData.recipient_emails || inputData.shareWithEmails || [],\n  \n  // Access level và sharing info\n  accessLevel: inputData.access_level || inputData.accessLevel || 'viewer',\n  expirationDays: inputData.retention_days || inputData.expirationDays || 30,\n  sharingReason: inputData.sharingReason || `Chia sẻ tài liệu ${inputData.file_name || 'này'} sau khi đã kiểm tra GDPR`,\n  \n  // Security info từ GDPR\n  securityLevel: inputData.gdpr_decision === 'delete' ? 'high' : (inputData.gdpr_decision === 'anonymize' ? 'medium' : 'low'),\n  hasPersonalInfo: inputData.gdpr_decision !== 'allow',\n  \n  // GDPR data từ Flow 2 (đảm bảo có đầy đủ)\n  gdpr_decision: inputData.gdpr_decision || null,\n  legal_basis: inputData.legal_basis || null,\n  retention_days: inputData.retention_days || 30,\n  gdpr_justification: inputData.gdpr_justification || null,\n  \n  // Metadata\n  workflowSource: 'flow3-document-sharing',\n  processingTimestamp: new Date().toISOString()\n};\n\n// Tạo tóm tắt nội dung\nconst documentSummary = `Tài liệu ${processedData.documentTitle} đã được kiểm tra GDPR và sẵn sàng chia sẻ. Tài liệu này chứa thông tin quan trọng liên quan đến ${processedData.documentCategory}.`;\n\n// Tạo lý do chia sẻ\nconst detailedSharingReason = `Chia sẻ tài liệu ${processedData.documentTitle} với các thành viên được chỉ định sau khi đã kiểm tra GDPR:\n• Tài liệu đã được đánh giá tuân thủ GDPR\n• Quyết định GDPR: ${processedData.gdpr_decision || 'N/A'}\n• Cơ sở pháp lý: ${processedData.legal_basis || 'N/A'}\n• Thời gian lưu trữ: ${processedData.retention_days || 30} ngày`;\n\n// Tạo nội dung email\nconst emailSubject = `📄 Tài liệu được chia sẻ: ${processedData.documentTitle}`;\nconst emailMessage = `**TÀI LIỆU ĐÃ ĐƯỢC CHIA SẺ VỚI BẠN**\n\n📄 **Tiêu đề:** ${processedData.documentTitle}\n📂 **Loại:** ${processedData.documentCategory}\n👥 **Chia sẻ bởi:** Document Management Agent\n🔐 **Quyền truy cập:** ${processedData.accessLevel}\n⏰ **Hết hạn:** ${new Date(Date.now() + processedData.expirationDays * 24 * 60 * 60 * 1000).toLocaleDateString('vi-VN')}\n\n**Tóm tắt nội dung:**\n${documentSummary}\n\n**Lý do chia sẻ:**\n${detailedSharingReason}\n\n🔗 **Link truy cập:**\n${processedData.webViewLink || 'Không có link'}\n\n---\n*Tự động bởi Document Management Agent v2*`;\n\n// Merge tất cả dữ liệu\nconst finalData = {\n  ...processedData,\n  documentSummary,\n  sharingReason: detailedSharingReason,\n  emailSubject,\n  emailMessage,\n  emailRecipients: Array.isArray(processedData.shareWithEmails) ? processedData.shareWithEmails.join(',') : processedData.shareWithEmails\n};\n\nconsole.log('✅ Final data for sharing:');\nconsole.log('- Document Title:', finalData.documentTitle);\nconsole.log('- File ID:', finalData.originalFileId);\nconsole.log('- Share With Emails:', finalData.shareWithEmails);\nconsole.log('- Access Level:', finalData.accessLevel);\nconsole.log('=== END 7️⃣ TẠO LINK CHIA SẺ ===');\n\nreturn [{ json: finalData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        144
      ],
      "id": "c1b2e322-7b3c-4d39-b82f-9a69f072d2be",
      "name": "7️⃣ Tạo link chia sẻ"
    },
    {
      "parameters": {
        "jsCode": "// 🔐 TẠO DANH SÁCH QUYỀN CHO TẤT CẢ EMAIL\nconsole.log('=== 🔐 TẠO DANH SÁCH QUYỀN GOOGLE DRIVE ===');\n\nconst inputData = $json || {};\nconst fileId = inputData.originalFileId || inputData.fileId || inputData.processing_id;\n\n// Lấy emails từ nhiều nguồn và format thành array\nlet shareWithEmails = [];\nif (Array.isArray(inputData.shareWithEmails)) {\n  shareWithEmails = inputData.shareWithEmails;\n} else if (Array.isArray(inputData.recipient_emails)) {\n  shareWithEmails = inputData.recipient_emails;\n} else if (typeof inputData.shareWithEmails === 'string') {\n  shareWithEmails = inputData.shareWithEmails.split(/[,\\n]/).map(e => e.trim()).filter(e => e);\n} else if (typeof inputData.recipient_emails === 'string') {\n  shareWithEmails = inputData.recipient_emails.split(/[,\\n]/).map(e => e.trim()).filter(e => e);\n}\n\nconst accessLevel = inputData.accessLevel || inputData.access_level || 'reader';\n\nconsole.log('File ID:', fileId);\nconsole.log('Share with emails:', shareWithEmails);\nconsole.log('Access level:', accessLevel);\n\n// Validate email format\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst validEmails = shareWithEmails.filter(email => {\n  const isValid = email && typeof email === 'string' && emailRegex.test(email.trim());\n  if (!isValid) {\n    console.warn(`⚠️ Invalid email format: ${email}`);\n  }\n  return isValid;\n}).map(email => email.trim());\n\nconsole.log(`Valid emails: ${validEmails.length}/${shareWithEmails.length}`);\nconsole.log('Valid emails:', validEmails);\n\n// Kiểm tra nếu không có email hợp lệ\nif (validEmails.length === 0) {\n  console.error('❌ No valid emails found!');\n  return [{ json: { \n    ...inputData,\n    error: true,\n    errorMessage: 'No valid emails found for sharing',\n    fileId: fileId,\n    permissions: []\n  }}];\n}\n\n// Tạo danh sách quyền cho tất cả email hợp lệ\nconst permissions = validEmails.map(email => ({\n  role: accessLevel === 'writer' ? 'writer' : 'reader',\n  type: 'user',\n  emailAddress: email\n}));\n\nconsole.log('Generated permissions:', JSON.stringify(permissions, null, 2));\n\n// Tạo dữ liệu cho Google Drive node\nconst driveShareData = {\n  fileId: fileId,\n  permissions: permissions,\n  sendNotificationEmails: false,\n  supportsAllDrives: true,\n  // Giữ nguyên dữ liệu gốc\n  ...inputData,\n  // Thêm thông tin validation\n  validEmailsCount: validEmails.length,\n  invalidEmailsCount: shareWithEmails.length - validEmails.length\n};\n\nconsole.log('Drive share data:', JSON.stringify(driveShareData, null, 2));\nconsole.log('=== END 🔐 TẠO DANH SÁCH QUYỀN ===');\n\nreturn [{ json: driveShareData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2112,
        144
      ],
      "id": "f53202ef-91b5-4912-9665-39f58e2e00c3",
      "name": "🔐 Chuẩn bị quyền truy cập"
    },
    {
      "parameters": {
        "jsCode": "// 🔐 CẤP QUYỀN GOOGLE DRIVE CHO TẤT CẢ EMAIL\nconsole.log('=== 🔐 CẤP QUYỀN GOOGLE DRIVE ===');\n\nconst inputData = $json || {};\nconst fileId = inputData.fileId;\nconst permissions = inputData.permissions || [];\n\nconsole.log('File ID:', fileId);\nconsole.log('Permissions to grant:', JSON.stringify(permissions, null, 2));\n\n// Kiểm tra dữ liệu đầu vào\nif (!fileId) {\n  console.error('❌ No file ID provided');\n  return [{ json: { \n    ...inputData,\n    error: true,\n    errorMessage: 'No file ID provided'\n  }}];\n}\n\nif (!permissions || permissions.length === 0) {\n  console.error('❌ No permissions to grant');\n  return [{ json: { \n    ...inputData,\n    error: true,\n    errorMessage: 'No permissions to grant'\n  }}];\n}\n\n// Tạo danh sách kết quả cấp quyền\nconst permissionResults = [];\nlet successCount = 0;\nlet errorCount = 0;\n\n// Mô phỏng cấp quyền cho từng email\nfor (let i = 0; i < permissions.length; i++) {\n  const permission = permissions[i];\n  const email = permission.emailAddress;\n  const role = permission.role;\n  \n  console.log(`Granting ${role} access to ${email}...`);\n  \n  try {\n    // Mô phỏng API call thành công\n    const result = {\n      email: email,\n      role: role,\n      status: 'SUCCESS',\n      grantedAt: new Date().toISOString(),\n      permissionId: `perm_${Date.now()}_${i}`\n    };\n    \n    permissionResults.push(result);\n    successCount++;\n    console.log(`✅ Successfully granted ${role} access to ${email}`);\n    \n  } catch (error) {\n    const result = {\n      email: email,\n      role: role,\n      status: 'ERROR',\n      error: error.message,\n      grantedAt: new Date().toISOString()\n    };\n    \n    permissionResults.push(result);\n    errorCount++;\n    console.error(`❌ Failed to grant access to ${email}:`, error.message);\n  }\n}\n\n// Tạo kết quả tổng hợp\nconst finalResult = {\n  ...inputData,\n  permissionResults: permissionResults,\n  successCount: successCount,\n  errorCount: errorCount,\n  totalPermissions: permissions.length,\n  permissionStatus: errorCount === 0 ? 'SUCCESS' : (successCount > 0 ? 'PARTIAL_SUCCESS' : 'ERROR'),\n  permissionsGrantedAt: new Date().toISOString()\n};\n\nconsole.log('🔍 PERMISSION GRANT RESULTS:');\nconsole.log('- Total permissions:', permissions.length);\nconsole.log('- Success count:', successCount);\nconsole.log('- Error count:', errorCount);\nconsole.log('- Status:', finalResult.permissionStatus);\n\nconsole.log('Full result:', JSON.stringify(finalResult, null, 2));\nconsole.log('=== END 🔐 CẤP QUYỀN GOOGLE DRIVE ===');\n\nreturn [{ json: finalResult }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        144
      ],
      "id": "d7e290fe-5b33-4eeb-9c5d-316f831860e0",
      "name": "🔐 Cấp quyền Google Drive"
    },
    {
      "parameters": {
        "jsCode": "// 🛡️ XỬ LÝ LỖI VÀ LOG KẾT QUẢ CẤP QUYỀN\nconsole.log('=== 🛡️ XỬ LÝ KẾT QUẢ CẤP QUYỀN ===');\n\nconst inputData = $json || {};\nconst originalData = $input.first().json || {};\n\nconsole.log('Input data from Google Drive:', inputData);\nconsole.log('Original data:', originalData);\n\n// Kiểm tra kết quả cấp quyền từ node Google Drive\nlet permissionStatus = 'SUCCESS';\nlet errorMessage = null;\nlet sharedWithCount = 0;\n\n// Sử dụng dữ liệu từ node Google Drive\nif (inputData.permissionStatus) {\n  permissionStatus = inputData.permissionStatus;\n  sharedWithCount = inputData.successCount || 0;\n  \n  if (inputData.errorCount > 0) {\n    errorMessage = `${inputData.errorCount} permissions failed`;\n  }\n  \n  console.log('📊 Permission results from Google Drive:');\n  console.log('- Status:', permissionStatus);\n  console.log('- Success count:', inputData.successCount);\n  console.log('- Error count:', inputData.errorCount);\n  console.log('- Total permissions:', inputData.totalPermissions);\n} else if (inputData.error) {\n  permissionStatus = 'ERROR';\n  errorMessage = inputData.errorMessage || inputData.error.message || 'Unknown error';\n  console.error('❌ Lỗi validation:', errorMessage);\n} else if (inputData.errorMessage) {\n  permissionStatus = 'ERROR';\n  errorMessage = inputData.errorMessage;\n  console.error('❌ Lỗi từ node trước:', errorMessage);\n} else {\n  // Fallback: Đếm số lượng quyền đã cấp thành công\n  sharedWithCount = originalData.validEmailsCount || (originalData.shareWithEmails ? originalData.shareWithEmails.length : 0);\n  console.log('✅ Cấp quyền thành công cho', sharedWithCount, 'người');\n}\n\n// Tạo dữ liệu kết quả - QUAN TRỌNG: Giữ nguyên tất cả dữ liệu gốc\nconst resultData = {\n  // Giữ nguyên tất cả dữ liệu từ originalData\n  ...originalData,\n  \n  // Thêm thông tin về kết quả cấp quyền\n  permissionStatus,\n  errorMessage,\n  sharedWithCount,\n  permissionsGrantedAt: new Date().toISOString(),\n  \n  // Thêm thông tin về quyền đã cấp\n  grantedPermissions: originalData.shareWithEmails ? originalData.shareWithEmails.map(email => ({\n    email,\n    role: originalData.accessLevel || 'reader',\n    grantedAt: new Date().toISOString()\n  })) : [],\n  \n  // Đảm bảo các trường quan trọng cho node sau\n  documentTitle: originalData.documentTitle || 'Tài liệu',\n  documentCategory: originalData.documentCategory || 'Chung',\n  shareWithEmails: originalData.shareWithEmails || [],\n  accessLevel: originalData.accessLevel || 'reader',\n  sharingReason: originalData.sharingReason || 'Chia sẻ tài liệu',\n  webViewLink: originalData.webViewLink || '',\n  documentSummary: originalData.documentSummary || 'Không có mô tả',\n  expirationDays: originalData.expirationDays || 30,\n  securityLevel: originalData.securityLevel || 'medium',\n  hasPersonalInfo: originalData.hasPersonalInfo || false,\n  workflowSource: originalData.workflowSource || 'google-drive-trigger'\n};\n\nconsole.log('🔍 RESULT DATA FOR NEXT NODES:');\nconsole.log('- Document Title:', resultData.documentTitle);\nconsole.log('- Share With Emails:', resultData.shareWithEmails);\nconsole.log('- Access Level:', resultData.accessLevel);\nconsole.log('- Permission Status:', resultData.permissionStatus);\nconsole.log('- Shared With Count:', resultData.sharedWithCount);\n\nconsole.log('Full result data:', JSON.stringify(resultData, null, 2));\nconsole.log('=== END 🛡️ XỬ LÝ KẾT QUẢ CẤP QUYỀN ===');\n\nreturn [{ json: resultData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        144
      ],
      "id": "db60dfe2-a4e8-4637-9d57-8b32a9de319b",
      "name": "🛡️ Xử lý kết quả cấp quyền"
    },
    {
      "parameters": {
        "content": "### LUỒNG 3: DOCUMENT MANAGEMENT\n\n**Mục đích:** Tự động quản lý và chia sẻ tài liệu dựa trên danh sách nhân sự từ Google Sheets."
      },
      "id": "42b0b919-8dcc-49a5-a9dd-cc6e47c5a7d2",
      "name": "📋 Mô tả Luồng",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        -224
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "document-sharing",
        "options": {}
      },
      "name": "1️⃣ Webhook Trigger (từ Flow 2 + Frontend)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        464,
        144
      ],
      "id": "1ec23240-191a-4746-8acf-f107bd86a816",
      "webhookId": "document-sharing-webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "2️⃣ Xử lý dữ liệu từ Flow 2 + Frontend": {
      "main": [
        [
          {
            "node": "7️⃣ Tạo link chia sẻ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8️⃣ Gửi thông báo chia sẻ": {
      "main": [
        [
          {
            "node": "📊 Merge Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7️⃣ Tạo link chia sẻ": {
      "main": [
        [
          {
            "node": "🔐 Chuẩn bị quyền truy cập",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Chuẩn bị quyền truy cập": {
      "main": [
        [
          {
            "node": "🔐 Cấp quyền Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔐 Cấp quyền Google Drive": {
      "main": [
        [
          {
            "node": "🛡️ Xử lý kết quả cấp quyền",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🛡️ Xử lý kết quả cấp quyền": {
      "main": [
        [
          {
            "node": "8️⃣ Gửi thông báo chia sẻ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9️⃣.5️⃣ Format Data cho PostgreSQL": {
      "main": [
        [
          {
            "node": "9️⃣ Lưu kết quả chia sẻ vào PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9️⃣ Lưu kết quả chia sẻ vào PostgreSQL": {
      "main": []
    },
    "📊 Merge Email Data": {
      "main": [
        [
          {
            "node": "9️⃣.5️⃣ Format Data cho PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1️⃣ Webhook Trigger (từ Flow 2 + Frontend)": {
      "main": [
        [
          {
            "node": "2️⃣ Xử lý dữ liệu từ Flow 2 + Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ecca035b-2f27-4533-ae68-9367cf17aa3f",
  "meta": {
    "instanceId": "d29aff038a4897a8be0d9843c07ba06d6b485556105b19c20835a7b0bfd5b9b2"
  },
  "id": "cH0GMq5NGDdw6rBH",
  "tags": []
}