workflows/Flow 1.json
{
  "name": "Test 2",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ (() => { try { const data = $json || {}; if (!data || typeof data !== 'object') { return { success: false, error: 'No data received', processingId: '', message: 'Error: No data from previous node', file_url: '', analysis_results: {}, api_url: '', file_name: '' }; } const processingId = (data.processingId || data.processing_id || '').toString(); const fileUrl = (data.file_url || data.cloudinary_url || '').toString(); const fileName = (data.file_name || '').toString(); const analysisResults = data.analysis_results || {}; const apiUrl = processingId ? `https://api.aidocmanageagent.io.vn/api/document/get-from-postgres/${processingId}` : ''; const result = { success: data.success !== undefined ? Boolean(data.success) : true, processingId: processingId, message: (data.message || 'Document analysis completed').toString(), file_url: fileUrl, file_name: fileName, analysis_results: analysisResults, api_url: apiUrl, note: 'Flow 2 và Flow 3 có thể gọi API này để lấy dữ liệu đầy đủ' }; return result; } catch (e) { console.error('Error in response body:', e); return { success: false, error: (e.message || 'Unknown error').toString(), processingId: '', message: 'Error processing data', file_url: '', file_name: '', analysis_results: {}, api_url: '' }; } })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -64,
        1072
      ],
      "id": "a0d41a6d-6147-4d2e-9e73-8d118f791a0f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "document-analyzer",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2288,
        288
      ],
      "id": "259dac9c-1c79-4021-9fc4-4f4a398ce8b6",
      "name": "Webhook",
      "webhookId": "8c724e88-5a5d-4919-82ba-760f48bf341f"
    },
    {
      "parameters": {
        "jsCode": "// Lấy data từ Postgres node (đã có RETURNING *)\nconst postgresData = $json || {};\n\n// Kiểm tra nếu postgresData là undefined hoặc null\nif (!postgresData || typeof postgresData !== 'object') {\n  console.error('❌ Postgres data is invalid:', postgresData);\n  return [{\n    json: {\n      success: false,\n      processingId: '',\n      message: 'Error: Could not retrieve data from Postgres',\n      file_url: '',\n      analysis_results: {}\n    }\n  }];\n}\n\n// Extract các trường cần thiết từ Postgres response\nconst processingId = postgresData.processing_id || postgresData.processingId || '';\n\n// Lấy PDF URL từ Cloudinary (cloudinary_url hoặc file_url)\nconst fileUrl = postgresData.cloudinary_url || postgresData.file_url || '';\n\n// Lấy analysis results và flatten cấu trúc\nlet analysisResults = postgresData.analysis_results || {};\n\n// Nếu analysis_results có cấu trúc nested (data[0]), extract ra\nif (analysisResults && analysisResults.data && Array.isArray(analysisResults.data) && analysisResults.data.length > 0) {\n  const firstItem = analysisResults.data[0];\n  // Flatten cấu trúc: extract main_theme, key_takeaways, etc. từ nested structure\n  analysisResults = {\n    main_theme: firstItem.main_theme?.output?.main_theme || firstItem.main_theme?.main_theme || '',\n    document_summary: firstItem.document_summary?.output?.document_summary || firstItem.document_summary?.document_summary || [],\n    key_takeaways: firstItem.key_takeaways?.output?.key_takeaways || firstItem.key_takeaways?.key_takeaways || [],\n    gaps_and_limitations: firstItem.gaps_and_limitations?.output?.gaps_and_limitations || firstItem.gaps_and_limitations?.gaps_and_limitations || [],\n    follow_up_questions: firstItem.follow_up_questions?.output?.follow_up_questions || firstItem.follow_up_questions?.follow_up_questions || [],\n    terminology_to_clarify: firstItem.terminology_to_clarify?.output?.terminology_to_clarify || firstItem.terminology_to_clarify?.terminology_to_clarify || []\n  };\n} else if (analysisResults && typeof analysisResults === 'object') {\n  // Nếu đã là object phẳng, giữ nguyên nhưng đảm bảo có các trường cần thiết\n  analysisResults = {\n    main_theme: analysisResults.main_theme || '',\n    document_summary: analysisResults.document_summary || [],\n    key_takeaways: analysisResults.key_takeaways || [],\n    gaps_and_limitations: analysisResults.gaps_and_limitations || [],\n    follow_up_questions: analysisResults.follow_up_questions || [],\n    terminology_to_clarify: analysisResults.terminology_to_clarify || []\n  };\n}\n\nconsole.log('📊 Data from Postgres:');\nconsole.log('   Processing ID:', processingId);\nconsole.log('   File URL (PDF):', fileUrl);\nconsole.log('   Analysis Results (flattened):', JSON.stringify(analysisResults, null, 2));\n\n// Format data đầy đủ để gửi qua webhook (bao gồm tất cả trường từ PostgreSQL)\nconst fullData = {\n  success: true,\n  processingId: processingId,\n  processing_id: processingId, // Alias để tương thích\n  message: 'Document analysis completed',\n  file_name: postgresData.file_name || '',\n  file_url: fileUrl,\n  cloudinary_url: postgresData.cloudinary_url || fileUrl,\n  user_id: postgresData.user_id || '',\n  department: postgresData.department || '',\n  status: postgresData.status || 'completed',\n  analysis_results: analysisResults, // Đã được flatten\n  docx_url: postgresData.docx_url || '',\n  created_at: postgresData.created_at || '',\n  updated_at: postgresData.updated_at || '',\n  analysis_completed_at: postgresData.analysis_completed_at || ''\n};\n\nconsole.log('📤 Full data prepared for Flow 2 & Flow 3:', JSON.stringify(fullData, null, 2));\n\n// Return đầy đủ dữ liệu\nreturn [{\n  json: fullData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        1072
      ],
      "id": "1f09c7b2-01f4-452a-b498-0a3022d8270c",
      "name": "Get Data from Postgres"
    },
    {
      "parameters": {
        "jsCode": "// Delay 5 giây trước khi gọi Gemini API để tránh rate limit\nconsole.log('⏳ Waiting 5 seconds before AI call...');\nawait new Promise(resolve => setTimeout(resolve, 5000));\nconsole.log('✅ Wait completed, proceeding to AI node');\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        208
      ],
      "id": "d677a5af-ef6d-4925-8e5c-353a87c5ada4",
      "name": "Wait Before AI"
    },
    {
      "parameters": {
        "jsCode": "// Parse kết quả từ comprehensive_analysis node\nconst aiResult = $json.output || $json;\n\nconsole.log('Raw AI Result:', JSON.stringify(aiResult, null, 2));\n\n// Parse và format giống như 6 node cũ để tương thích với Merge node\nlet parsed = {};\n\ntry {\n  // Nếu AI trả về string, parse JSON\n  let parsedData = aiResult;\n  if (typeof aiResult === 'string') {\n    // Loại bỏ markdown code blocks nếu có\n    const cleanJson = aiResult\n      .replace(/```json/gi, '')\n      .replace(/```/g, '')\n      .trim();\n    \n    // Tìm JSON trong string\n    const jsonMatch = cleanJson.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      parsedData = JSON.parse(jsonMatch[0]);\n    } else {\n      parsedData = JSON.parse(cleanJson);\n    }\n  }\n  \n  // Format để tương thích với Merge node\n  parsed = {\n    // main_theme format\n    main_theme: {\n      output: {\n        main_theme: parsedData.main_theme || \"\"\n      }\n    },\n    \n    // document_summary format\n    document_summary: {\n      output: {\n        document_summary: Array.isArray(parsedData.document_summary) \n          ? parsedData.document_summary \n          : []\n      }\n    },\n    \n    // key_takeaways format\n    key_takeaways: {\n      output: {\n        key_takeaways: Array.isArray(parsedData.key_takeaways) \n          ? parsedData.key_takeaways \n          : []\n      }\n    },\n    \n    // gaps_and_limitations format\n    gaps_and_limitations: {\n      output: {\n        gaps_and_limitations: Array.isArray(parsedData.gaps_and_limitations) \n          ? parsedData.gaps_and_limitations \n          : []\n      }\n    },\n    \n    // follow_up_questions format\n    follow_up_questions: {\n      output: {\n        follow_up_questions: Array.isArray(parsedData.follow_up_questions) \n          ? parsedData.follow_up_questions \n          : []\n      }\n    },\n    \n    // terminology_to_clarify format\n    terminology_to_clarify: {\n      output: {\n        terminology_to_clarify: Array.isArray(parsedData.terminology_to_clarify) \n          ? parsedData.terminology_to_clarify \n          : []\n      }\n    }\n  };\n  \n  console.log('Parsed Result:', JSON.stringify(parsed, null, 2));\n  \n} catch (error) {\n  console.error('Error parsing AI result:', error);\n  console.error('Raw data:', aiResult);\n  \n  // Fallback với empty data\n  parsed = {\n    main_theme: { output: { main_theme: \"Error parsing AI result\" } },\n    document_summary: { output: { document_summary: [] } },\n    key_takeaways: { output: { key_takeaways: [] } },\n    gaps_and_limitations: { output: { gaps_and_limitations: [] } },\n    follow_up_questions: { output: { follow_up_questions: [] } },\n    terminology_to_clarify: { output: { terminology_to_clarify: [] } }\n  };\n}\n\n// Lấy name từ Set File Data node (với kiểm tra an toàn)\nlet fileName = '';\ntry {\n  const setFileData = $('Set File Data')?.item?.json;\n  fileName = setFileData?.name || 'Unknown Document';\n} catch (error) {\n  console.log('Could not get name from Set File Data node:', error);\n  fileName = 'Unknown Document';\n}\n\n// Return format tương thích với Merge node\nreturn [{\n  json: {\n    name: fileName,\n    main_theme: parsed.main_theme,\n    document_summary: parsed.document_summary,\n    key_takeaways: parsed.key_takeaways,\n    gaps_and_limitations: parsed.gaps_and_limitations,\n    follow_up_questions: parsed.follow_up_questions,\n    terminology_to_clarify: parsed.terminology_to_clarify\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        192
      ],
      "id": "3cd4d211-1a6e-4131-b312-78dbbdb4f591",
      "name": "Parse Combined Result"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Document Title:** {{ $('Set File Data').item.json.name }}\n\n**Document Text:** {{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=YOU ARE A COMPREHENSIVE DOCUMENT ANALYSIS AGENT. YOU MUST ANALYZE A DOCUMENT AND OUTPUT ALL ANALYSIS RESULTS IN A SINGLE JSON OBJECT.\n\nYOUR TASK:\n1. Identify the main theme and purpose\n2. Create a section-by-section summary\n3. Extract key takeaways\n4. Identify gaps and limitations\n5. Generate follow-up questions\n6. Clarify terminology\n\nOUTPUT FORMAT (MANDATORY JSON):\n{\n  \"main_theme\": \"Three sentences: topic, purpose, audience\",\n  \"document_summary\": [\n    {\n      \"section_title\": \"Section title\",\n      \"content\": \"Section summary\"\n    }\n  ],\n  \"key_takeaways\": [\n    {\n      \"point\": \"Key point\",\n      \"context\": \"Explanation\"\n    }\n  ],\n  \"gaps_and_limitations\": [\n    {\n      \"issue\": \"Gap description\",\n      \"reason\": \"Why it matters\"\n    }\n  ],\n  \"follow_up_questions\": [\n    \"Question 1\",\n    \"Question 2\"\n  ],\n  \"terminology_to_clarify\": [\n    {\n      \"term\": \"Term\",\n      \"explanation\": \"Definition\"\n    }\n  ]\n}\n\nREQUIREMENTS:\n- Return ONLY valid JSON, no markdown code blocks (no ```json)\n- All fields are required\n- Be specific and accurate\n- main_theme: 3 sentences (topic, purpose, audience)\n- document_summary: Array of sections with title and content\n- key_takeaways: 3-7 items with point and context\n- gaps_and_limitations: 1-5 items with issue and reason\n- follow_up_questions: 3-7 open-ended questions\n- terminology_to_clarify: Array of terms with explanations\n\nIMPORTANT:\n- Do NOT wrap output in markdown code blocks\n- Output must be valid JSON that can be parsed directly\n- All arrays must have at least 1 item\n- Be concise but informative"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -768,
        224
      ],
      "id": "65c45eb0-278e-4ecd-aaf9-ef7595532f0f",
      "name": "comprehensive_analysis",
      "settings": {
        "errorHandling": {
          "retry": {
            "enabled": true,
            "maxRetries": 5,
            "retryDelay": 10000
          }
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO documents (processing_id, file_name, file_url, user_id, department, status, analysis_results, cloudinary_url, created_at, updated_at, analysis_completed_at) VALUES ('{{ $json.processingId }}', '{{ $json.file_name }}', '{{ $json.file_url }}', '{{ $json.user_id }}', '{{ $json.department }}', '{{ $json.status }}', '{{ JSON.stringify($json.analysis_results).replace(/'/g, \"''\") }}'::jsonb, '{{ $json.cloudinary_url }}', NOW(), NOW(), NOW()) ON CONFLICT (processing_id) DO UPDATE SET status = EXCLUDED.status, analysis_results = EXCLUDED.analysis_results, cloudinary_url = EXCLUDED.cloudinary_url, updated_at = NOW(), analysis_completed_at = NOW() RETURNING *;",
        "options": {}
      },
      "id": "5804a6eb-6fa4-46f2-9f1c-769d6a8678f0",
      "name": "Save Analysis to Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -512,
        1072
      ],
      "credentials": {
        "postgres": {
          "id": "lYVcMJl3c3m62cYc",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -752,
        688
      ],
      "id": "8295c48f-ddbe-4b56-a4be-e84ef22146ae",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Format dữ liệu từ Aggregate và Set File Data để lưu vào Postgres\n// Lấy dữ liệu phân tích từ Aggregate node\nconst aggregateData = $json || {};\n\n// Lấy thông tin file từ Set File Data node\nconst setFileData = $('Set File Data')?.item?.json || {};\n\n// Lấy PDF URL từ Cloudinary (file_url hoặc cloudinary_url)\nconst pdfUrl = setFileData.cloudinary_url || setFileData.file_url || '';\n\n// Lấy các thông tin cần thiết\nconst processingId = setFileData.processingId || '';\nconst fileName = setFileData.name || 'Unknown Document';\nconst userId = setFileData.userId || '';\nconst department = setFileData.department || '';\n\n// Format analysis results từ Aggregate\n// Aggregate có thể có cấu trúc khác nhau, cần xử lý linh hoạt\nlet analysisResults = {};\n\n// Thử lấy từ nhiều cấu trúc khác nhau\nif (aggregateData.main_theme) {\n  analysisResults = {\n    main_theme: aggregateData.main_theme?.output?.main_theme || aggregateData.main_theme || '',\n    document_summary: aggregateData.document_summary?.output?.document_summary || aggregateData.document_summary || [],\n    key_takeaways: aggregateData.key_takeaways?.output?.key_takeaways || aggregateData.key_takeaways || [],\n    gaps_and_limitations: aggregateData.gaps_and_limitations?.output?.gaps_and_limitations || aggregateData.gaps_and_limitations || [],\n    follow_up_questions: aggregateData.follow_up_questions?.output?.follow_up_questions || aggregateData.follow_up_questions || [],\n    terminology_to_clarify: aggregateData.terminology_to_clarify?.output?.terminology_to_clarify || aggregateData.terminology_to_clarify || []\n  };\n} else {\n  // Nếu không có cấu trúc nested, dùng trực tiếp\n  analysisResults = aggregateData;\n}\n\nconsole.log('📊 Formatting data for Postgres:');\nconsole.log('   Processing ID:', processingId);\nconsole.log('   File Name:', fileName);\nconsole.log('   PDF URL:', pdfUrl);\nconsole.log('   Analysis Results:', JSON.stringify(analysisResults, null, 2));\n\n// Return dữ liệu đã format\nreturn [{\n  json: {\n    processingId: processingId,\n    file_name: fileName,\n    file_url: pdfUrl,\n    cloudinary_url: pdfUrl, // PDF URL từ Cloudinary\n    user_id: userId,\n    department: department,\n    analysis_results: analysisResults,\n    status: 'completed'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        688
      ],
      "id": "format-data-for-postgres",
      "name": "Format Data for Postgres"
    },
    {
      "parameters": {
        "numberInputs": 1
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1008,
        608
      ],
      "id": "5b6811f5-6e3a-400b-ac1a-d55f048bb904",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"main_theme\": \"Three sentences: topic, purpose, audience\",\n  \"document_summary\": [\n    {\n      \"section_title\": \"Section title\",\n      \"content\": \"Section summary\"\n    }\n  ],\n  \"key_takeaways\": [\n    {\n      \"point\": \"Key point\",\n      \"context\": \"Explanation\"\n    }\n  ],\n  \"gaps_and_limitations\": [\n    {\n      \"issue\": \"Gap description\",\n      \"reason\": \"Why it matters\"\n    }\n  ],\n  \"follow_up_questions\": [\n    \"Question 1\",\n    \"Question 2\"\n  ],\n  \"terminology_to_clarify\": [\n    {\n      \"term\": \"Term\",\n      \"explanation\": \"Definition\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -608,
        80
      ],
      "id": "e57793a1-fbb2-4bf5-b506-54324068d590",
      "name": "Structured Output Parser - Comprehensive"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1664,
        272
      ],
      "id": "775f4109-9933-4101-a0eb-ca11488d2260",
      "name": "2nd Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2016,
        288
      ],
      "id": "f89eac80-2c18-477f-a887-5a5fbcf1e708",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $('Set File Data').item.json.cloudinary_url || $('Set File Data').item.json.file_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "d96005fa-f6cd-4d3e-b696-e8439099ba79",
      "name": "Download File From URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f8bc803-94c0-4689-92de-1ae03bc6e1a0",
              "name": "name",
              "value": "={{ $json.body.file.name || $json.file.name || $json.name || 'document.pdf' }}",
              "type": "string"
            },
            {
              "id": "b215de7b-64c4-4125-8d5e-4445b5a7f85a",
              "name": "file_url",
              "value": "={{ $json.body.file.url || $json.file.url || $json.fileUrl }}",
              "type": "string"
            },
            {
              "id": "c3d4e5f6-7890-1234-5678-9abcdef01234",
              "name": "processingId",
              "value": "={{ $json.body.processingId || $json.processingId }}",
              "type": "string"
            },
            {
              "id": "d4e5f6a7-8901-2345-6789-bcdef0123456",
              "name": "userId",
              "value": "={{ $json.body.userId || $json.userId }}",
              "type": "string"
            },
            {
              "id": "e5f6a7b8-9012-3456-789a-cdef01234567",
              "name": "department",
              "value": "={{ $json.body.department || $json.department }}",
              "type": "string"
            },
            {
              "id": "f6a7b8c9-0123-4567-890a-bcdef0123456",
              "name": "cloudinary_url",
              "value": "={{ $json.body.file.cloudinary_url || $json.body.file.url || $json.file.cloudinary_url || $json.file.url }}",
              "type": "string"
            },
            {
              "id": "a7b8c9d0-1234-5678-901a-cdef01234567",
              "name": "cloudinary_public_id",
              "value": "={{ $json.body.file.cloudinary_public_id || $json.file.cloudinary_public_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "46ce0a72-af2f-4749-a8f3-9171e51f990e",
      "name": "Set File Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1888,
        432
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "9cb42a31-f7aa-4fbc-847b-aa1867f21347",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1216,
        288
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -768,
        80
      ],
      "id": "ac144b52-5df7-4811-92d0-1fcd7da46ff5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lcV9ZKXO35qhNqk7",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Data from Postgres": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Wait Before AI": {
      "main": [
        [
          {
            "node": "comprehensive_analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Combined Result": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "comprehensive_analysis": {
      "main": [
        [
          {
            "node": "Parse Combined Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Analysis to Postgres": {
      "main": [
        [
          {
            "node": "Get Data from Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Format Data for Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data for Postgres": {
      "main": [
        [
          {
            "node": "Save Analysis to Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser - Comprehensive": {
      "ai_outputParser": [
        [
          {
            "node": "comprehensive_analysis",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2nd Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download File From URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "2nd Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set File Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File From URL": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Wait Before AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "comprehensive_analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ac5a0848-78f9-4300-9731-eb1c969cf0e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d29aff038a4897a8be0d9843c07ba06d6b485556105b19c20835a7b0bfd5b9b2"
  },
  "id": "9ucTmgO083P7qCGQ",
  "tags": []
}